name: Deploy Backend to Server

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Deploy via SSH
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SERVER_SSH_KEY }}
          script: |
            cd /root/python_api_be/backend || exit 1

            echo ">>> Pull latest code"
            git pull origin main

            echo ">>> Stop old container"
            docker stop python_api_be || true
            docker rm python_api_be || true

            echo ">>> Build new image"
            docker build -t python_api_be .

            echo ">>> Run new container"
            docker run -d \
              --name python_api_be \
              -e MONGO_URI="${{ secrets.MONGO_URI }}" \
              -e DATABASE_NAME="${{ secrets.DATABASE_NAME }}" \
              -p 8000:8000 \
              python_api_be
